body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-content {
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

iframe {
    width: 100%;
    height: 24px;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: stretch; /* Para que los contenedores tengan la misma altura */
    margin-bottom: 20px;
}

.categoria {
    width: 45%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Para que los elementos dentro se apilen verticalmente */
}

.categoria h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
}

.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.noticia {
    width: 48%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
}

.noticia:hover {
    background-color: #e9e9e9;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Agregamos estilos para el botón Ver más */
.ver-mas {
    align-self: flex-end; /* Alinea el botón al final del contenedor */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto; /* Para que el botón se pegue al final */
}

.ver-mas:hover {
    background-color: #555;
}

.ver-mas a {
    text-decoration: none;
    color: #fff;
}

.botones-login {
    position: absolute;
    top: 20px;
    right: 20px;
}

.botones-login a {
    margin-left: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none; /* Quita el subrayado predeterminado */
}

.botones-login a:hover {
    background-color: #000000;
}


